<div class="jumbotron masthead">
  <div class="container">
    <h1>KiqueLogin</h1>
    <p>A simple Login system with rails.</p>
<!-- 	<form class="form">
		<div class="control-group">
			<label class="control-label emailLabel" for="inputEmail">Email</label>
			<div class="controls">
				<input type="text" id="inputEmail" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label passwordLabel" for="inputPassword">Password</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="Password">
			</div>			
			<div class="controls">
				<input type="password" id="inputPasswordConfirm" placeholder="Confirm Password">
			</div>
		</div>
 		<button type="submit" class="btn btn-success signinBtn">Sign in</button>
 		<button href="#myModalLogin" data-toggle="modal" type="button" class="btn btn-warning loginBtn">Log in</button>
	</form> -->
	<%= render 'form' %>

    <ul class="masthead-links">
      <li><a href="http://github.com/twitter/bootstrap" >GitHub project</a></li>
    </ul>
  </div>
</div>

<!-- LOGIN MODAL -->
<!-- <div id="myModalLogin" class="modal hide fade">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Login</h3>
</div>
<div class="modal-body">
  <form id="formLoginUser">
    <center>
    <input id="usernameLogin" type="text" placeholder="Username"><br/>
    <input id="passwordLogin" type="password" placeholder="Password"><br/>
    <div id="loginErroMsg"></div>
    </center>
  </form>
</div>
<div class="modal-footer">
  <center>
    <button id="chatnowLoginBtn" class="btn btn-warning">Login!</button>
  </center>
</div>
</div> -->