<% if !current_user %> <!-- NOT logged in -->
  <div class="jumbotron masthead">
    <div class="container">
      <h1>KiqueLogin</h1>
      <p>A simple Login system with rails.</p>
  <!-- 	<form class="form">
  		<div class="control-group">
  			<label class="control-label emailLabel" for="inputEmail">Email</label>
  			<div class="controls">
  				<input type="text" id="inputEmail" placeholder="Email">
  			</div>
  		</div>
  		<div class="control-group">
  			<label class="control-label passwordLabel" for="inputPassword">Password</label>
  			<div class="controls">
  				<input type="password" id="inputPassword" placeholder="Password">
  			</div>			
  			<div class="controls">
  				<input type="password" id="inputPasswordConfirm" placeholder="Confirm Password">
  			</div>
  		</div>
   		<button type="submit" class="btn btn-success signinBtn">Sign in</button>
   		<button href="#myModalLogin" data-toggle="modal" type="button" class="btn btn-warning loginBtn">Log in</button>
  	</form> -->
  	<%= render 'form' %>

      <ul class="masthead-links">
        <li><a href="https://github.com/KiqueDev/KiqueLogin" target="_blank">GitHub project</a></li>
      </ul>
    </div>
  </div>

  <!-- LOGIN MODAL -->
  <%= render 'formloginmodal' %>
  <% else %>

    <div class="">
      <div class="container">
        <h1>Welcome to Kique Login Homepage</h1>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  
  <% end %>